{% block sw_cms_element_maps %}
    <div class="sw-cms-el-maps">

        <sw-card :hero="true" :isLoading="isLoading" :large="false" v-if="isEmpty">
            <sw-alert
                v-if="isEmpty"
                variant="error"
                appearance="default"
                :title="$tc('sas-maps.elements.config.error.title')"
                :showIcon="true"
                closable="false">
                {{ $tc('sas-maps.elements.config.error.message') }}
                <br><br>

                <sw-button :routerLink="{ name: 'sw.plugin.settings', params: { namespace: 'SasMaps' } }" variant="danger">
                    {{ $tc('sas-maps.elements.config.error.goToLinkText') }}
                </sw-button>
            </sw-alert>

        </sw-card>

        <div id="map" v-else></div>

    </div>
{% endblock %}
